:root {
    --black: #333;
    --white: #fcfcfc;
    --azul-marginlab: #2fa2ef;
    --dark-azul-marginlab: #2D8BCB;
    --azul-fondo-blanco: #2983D9;
    --borde: #858383;
    --color-head1: #c7c6c6;
    --color-head2: #f0eeee;
    --color-body-even: #f5f4f4;
    --color-body-odd: #fafafa;
    --warning: #fe5959;
    --warning-neto: #FF4500;
    --warning-bsv: #FFA500;
    --gradient1: linear-gradient(135deg,#2467c6,#2fa2ef);
    --gradient2: linear-gradient(315deg, #2fa2ef 0%, #2fa2ef 30%, #2467c6 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* jost-latin-wght-normal */
@font-face {
    font-family: 'Jost Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/jost:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body{
    background-color: var(--white);
    font-family: 'Jost Variable', system-ui, sans-serif;
    height: 100vh;

}

header {
    background-color: #2fa2ef;
    background-image: linear-gradient(3deg, #0046ab, #2467c6, #388ae3, #2fa2ef);
    background-size: 200%;
    background-position: center;
    height: 110px;
    padding: 20px;
    display: flex;
    align-items: center;
    padding: 0 15%;
    position: relative;
    justify-content: end;

    
    
    transition-duration: 500ms;

    /*
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: headerFijo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    */

    .logo {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    
        height: 65%;
        overflow: visible;
    
        & path {
            height: 100%;
        }
    }

    .opciones {
        all: unset;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg{
            width: 60%;
            height: 60%;
            color: var(--white);
        }

        transition-duration: 500ms;
        &:hover {
            cursor: pointer;
            transform: scale(110%);
        }

        #dialog-opciones[open]{
            all: unset;
            cursor: default;

            position: absolute;
            top: 0;
            right: 265px;
            transform: translateX(50%) translateY(90px);

            width: 200px;
            padding: 20px;
            background-color: #2fa2ef22;
            backdrop-filter: blur(20px);
            border-radius: 10px;
            border: 2px solid var(--color-head1);

            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            a:nth-child(1){
                all: unset;
                color: #555;
                display: flex;
                align-items: center;
                gap: 10px;
                filter: blur(5px);
                pointer-events: none;
                svg{
                    color: inherit;
                    width: 30px;
                }
                &:hover{
                    /* cursor forbidden click stop icon*/
                    cursor: not-allowed;
                    color: var(--warning);
                    font-weight: 500;
                }
            }
            a:nth-child(2){
                all: unset;
                color: #555;
                display: flex;
                align-items: center;
                gap: 10px;
                svg{
                    color: inherit;
                    width: 30px;
                }
                &:hover{
                    cursor: pointer;
                    color: var(--black);
                    font-weight: 500;
                }
            }

            &::backdrop{
                background: none;
            }

        }
        
    }    

}

@media (max-width: 950px){
    .logo{
        left: 10px;
    }
}

@media (max-width: 500px){
    .logo{
        left: 0px;
    }
}

main{
    
    height: calc(100vh - 110px);
    padding: 20px 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    column-gap: 80px;
    place-content: center;
    place-items: center;

    /* select the divs and a elements */
    div, a{
        all: unset;
        width: 100%;

        display: flex;
        align-items: center;

        border: 2px solid var(--azul-fondo-blanco);
        border-radius: 100px;

        p{
            flex: 1;

            font-size: 1.5rem;
            font-weight: 600;
            color: var(--black);
        }

        button{
            all: unset;
            height: 100px;
            width: 100px;

            background-color: var(--azul-marginlab);
            background-image: var(--gradient1);
            background-size: 190%;
            background-position: center;
            border-radius: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--white);

            svg{
                width: 50%;
                height: 50%;
            }
            #roca-svg{
                width: 70%;
                height: 70%;
            }
            #b2b-svg{
                width: 60%;
                height: 60%;
            }
        }
    }
    a{
        cursor: pointer;
        transition-duration: 300ms;
        &:hover{
            transform: scale(102%);
        }
    }
    .closed-option{
        pointer-events: none;
        cursor: none;
        filter: blur(10px);
    }
    &>div:nth-child(even){
        justify-content: start;
        p{
            padding-left: 40px;
        }
    }
    &>div:nth-child(odd), a{
        justify-content: end;
        p{
            padding-right: 40px;
            text-align: end;
        }
    }
}